<footer class="container mt-2 inset-x-0 bottom-0 mb-0  bg-white py-8 border-t border-gray-400">
  <div class="container flex px-3 py-8 ">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full lg:w-1/2 ">
        <div class="px-3 md:px-0">
          <h3 class="font-bold text-gray-900">About</h3>
          <p class="py-4">
            We help our customers to reduce their carbon footprint and save money on their energy bills, offering a wide range of products to meet different energy needs, including residential and commercial applications. With a focus on sustainability and customer satisfaction, we aim to make it easy and affordable for everyone to switch to clean energy solutions.
          </p>
        </div>
      </div>
      <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
        <div class="px-3 md:px-0">
          <h3 class="font-bold text-gray-900">Social</h3>
          <ul class="list-reset items-center pt-3">
            <li>
              <a class="inline-block no-underline hover:text-black hover:underline py-1" href="#">Add social links</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- FLOWBITE.JS - FOR PRODUCT DESCRIPTION TABS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>