<%- include('partials/header') -%>

<main class="flex justify-center py-10">


<!--Left Column-->
  <section class="py-8 px-8 w-96 h-108 bg-slate md:border border-slate-300 shadow ">
    <h2 class="text-3xl font-bold pb-4">Log In</h2>

    <form action="/login" method="POST">

      <!-- User Input -->

      <label for="email-input" class="block pb-4">
        <span class="block text-sm font-medium text-slate-700">Email address</span>
        <input type="email" id="email-input" name="email" autocomplete="off" placeholder="user@email.com" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none  disabled:bg-slate-50  invalid:border-red-500 invalid:text-red-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500"/>
      </label>

      <!-- Password Input-->

      <label for="password-input" class="block pr relative pb-2">
        <span class="block text-sm font-medium text-slate-700">Password</span>
        <input type="password" id="password-input" name="password" placeholder="********" class="mt-1  w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400  focus:outline-none   disabled:bg-slate-50  invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-red-500 focus:invalid:ring-red-500"/>
        <i id="togglePassword" onclick="myFunction()" class="text-slate-700 bi bi-eye-slash cursor-pointer absolute bottom-4 right-4 hover:text-lime-600"></i>
      </label>
      
      <a href="#"><span class="block text-right text-xs text-slate-500 hover:text-slate-700">Forgot your password?</span></a>

      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div class="text-red-600 pt-2"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="text-red-600"><%= el.msg %></div>
        <% }) %> <% } %>

      <!-- Buttons -->

      <div class="flex justify-evenly py-12">
        <button type="submit" class=" w-2/5 btn bg-lime-600 text-white text-center rounded-2xl w-36 font-bold text-sm hover:bg-lime-700">Log In</button>
        <a href="/signup"><span class="btn bg-slate-200 text-slate-700 text-center rounded-2xl w-36 font-bold text-sm hover:bg-slate-300">or Sign Up</span></a>
      </div>
    </form>

    <h2 class="w-full text-center border-b border-slate-300 leading-[0.0001em] " >
      <span class="bg-white text-slate-500 text-sm"> or </span>
    </h2>

    <div class="h-11 w-full px-4 py-2 mt-4 text-center bg-slate-200">  
      <span class="text-sm pl-8 align-middle font-bold text-slate-700 bg-[url('/imgs/bg-google.svg')] bg-no-repeat bg-left bg-contain">Continue with Google</span>
    </div>
  </section>


<!-- <section>
  hello
</section> -->

</main>

<script> 
  function myFunction() {
  document.getElementById("togglePassword").classList.toggle("bi-eye")
  var x = document.getElementById("password-input");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
} 
</script>

<%- include('partials/footer') -%>
